.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin : 40 auto;
    padding: 40px;
    border-radius: 6px;
    /* background-color: yellowgreen; */
}

.theForm{
    padding: 12px 24px 24px 24px;
	margin: 18px 12px;
	/* background: #E3F2FD;
     */
     background-color:#87DE87;
	border-radius: 4px;
}

.stubborn {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.container > label {
	font-size: 0.85em;
	margin-left: 12px;
}

.container > input[type=text],input[type=email],textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.container > input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid green;
}

.btn {
	background: #2AD4FF;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 84px;
    
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

.btn:focus {
	background: #A5D6A7;
	color: whitesmoke;
}

.btn:hover {
	background: #2196F3;
    cursor: pointer;
}

.center {
	text-align: center;
}
/* .theForm {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    background-color: purple;
    text-align: center;

}

.theForm> input{
    background-color:yellow;
}
.theForm> label{
    text-align: left;
	color: #FFF;
} */

