.my-masonry-grid img {
  width: 100%; /* Makes image width responsive to the container */
  height: auto; /* Maintains aspect ratio */
  display: block; /* Removes any extra space below the image */
}

.my-masonry-grid .masonry-grid-column {
  padding-left: 15px; /* Space between columns */
  background-clip: padding-box;
}

/* Style your columns' width at different breakpoints */
@media (min-width: 768px) {
  .my-masonry-grid {
    column-count: 2; /* For medium devices, show 2 columns */
  }
}

@media (min-width: 1024px) {
  .my-masonry-grid {
    column-count: 3; /* For large devices, show 3 columns */
  }
}
