@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: black;
}
html, body {
  min-height: 100%;
}
body {
  /* background: radial-gradient(at top left, rgba(146,43,225,1) 0%, rgba(43,9,107,1) 100%); */
  background-repeat: no-repeat;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

h2 {
  font-size: 3.5em;
  margin-top: 20px;
}

/* layout & nav */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-link{
  color: black;
}

.btn {
  display: inline-block;
  background: #2AD4FF;
  padding: 10px 66px;
  border-radius: 6px;
  margin-top: 20px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.btn:hover{
	background: #FFCC00;
}
nav {
  position: sticky; top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
  background: white;
  border-radius: 6px;
  z-index: 1000;
}
nav .links {
  color:purple;
  display: inline-block;
  text-align: right;
  margin-right: 15px;
}

nav h1{
  color: purple;
  margin-left: 10px;
  margin-top: 6px;
  font-family: Comfortaa;
}
nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  margin-top: 8px;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  color:purple;
}

footer p{
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}